/* main.css */

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #E5E5E5;
  text-decoration: none;
  text-shadow: 0 1px 0 #000000;
}

.navbar-inner {
	background-image: none;
	background-color: #000000;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 30px;
  font-weight: 200;
  color: #E5E5E5;
  text-shadow: 0 0px 0 #ffffff;
}

.content {
	font-size: 15px;
}

.centeredtext {
	text-align: center;
}