{% extends "base.html" %}
{% block content %}
<div id ="body" class="span10 popover-title">

	<h1>{{post.Author.username}}: {{post.body}}</h1>
	<h2>Comments:</h2>
	{% for c in comments %}
	<p>{{c.Author.username}}: {{c.body}}</p><br>
	{% endfor %}
	<h2>Comment on this post.</h2>
	<form action='/comment_saved/{{post_id}}' method="POST" name="new_post">
				{{form.hidden_tag()}}
				<table>
					<tr>
						<td></td>
						<td>{{form.post(size = 30, maxlength = 140)}} </td>
						<td> 
						{% for error in form.errors.post %}
						<span style = 'color: red;'>[{{error}}]</span><br>
						{% endfor %}
						</td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Send to department page"></td>
						<td></td>
					</tr>
				</table>
	</form>

{% endblock %}
