{% extends "base.html" %}
{% block content %}
<div class="span10 popover-title">
	<table>
		<tr><a href="http://learnsprout.com"><img src="static/learnsprout.jpg" alt="learn sprout" width=350 height=350></a></tr>
		<tr><h2> Register with Learn Sprout </h2></tr>
	</table>
	<form action="/api_key_registered" method="post" name="api_key_form">
		{{form.hidden_tag()}}
		<p>
			{{form.api_key}} LearnSprout API Key</p>
			{% for error in form.errors.nickname %}
			<span style="color: red;">[{{error}}]</span>
			{% endfor %}
 		<p>
 		<p>
			{{form.org_id}} LearnSprout Organization ID </p>
			{% for error in form.errors.nickname %}
			<span style="color: red;">[{{error}}]</span>
			{% endfor %}
 		<p>
			<input type="submit" value="Connect"></p>
	</form>

 {% endblock %}