<!DOCTYPE html>
<html>
<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="/index"> Welcome to Make Room</a>
		<ul class="nav">
			<li><a href="{{url_for('user', nickname = g.user.nickname) }}"> Dept Posts </a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>

	</div>
</div>

	<head>
		{% if title %}
		<title> {{title}} - a tool for teachers</title>
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<!-- Bootstrap -->
		<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		{% else %}
		<title> Welcome to Make Room </title>
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<!-- Bootstrap -->
		<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		{% endif %}
	</head>
	<body>
		<div id="header" class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
				<style> div {font-size: 25px} </style> <!-- <a href="{{ url_for('index') }}">Make Room</a> <br> --> <br>
				{% if g.user.is_authenticated() %}
				<h3> Short Term Links</h3><br>
				| <a href="{{url_for('index') }}"> Home </a><br><br>
				| <a href="{{url_for('user', nickname = g.user.nickname) }}"> All Posts </a><br><br>
                | <a href="/students"> All Students</a><br><br><br>
                <h3>Long Term Links</h3><br> 
				| <a href="/register"> Join a department </a><br><br>
				| <a href = "/api_key_form"> Connect with Learn Sprout </a> <br><br>
				{% endif %}
			 </body>

		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class=flashes> 
		{% for message in messages %}
			<li>{{ message }} </li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>