<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title> {{title}} - a tool for teachers</title>
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<!-- Bootstrap -->
		<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		{% else %}
		<title> Welcome to Make Room </title>
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<!-- Bootstrap -->
		<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		{% endif %}
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2"> Welcome to
				<style> div {font-size: 25px} </style> <a href="{{ url_for('index') }}">Make Room</a> <br> <br>
				{% if g.user.is_authenticated() %}
				| <a href="{{ url_for('logout') }}">Logout</a>
				{% endif %}
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class=flashes> 
		{% for message in messages %}
			<li>{{ message }} </li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>