{% extends "base.html" %}
{% block content %}
<h2> Department posts: </h2>
		<div>
		{% if department_posts != None %}
		<table class="table">
		{% for p in department_posts | reverse %}
		<dl>
			<dt> <ul class = "inline">
				<li class="content"><img src="{{p.Author.avatar(70)}}"></td></li>
				<li class="content">{{p.Author.username}} </li>
				<li class="content"><i> {{p.Student.first_name}}'s {{p.Author.subject}} instructor</i></li>
				</dt>
			<dd class="content">  {{p.body}} </dd>
			<dd class="content"> <small> Posted on {{p.timestamp.month}}/{{p.timestamp.day}} at {{p.timestamp.hour}}:{{p.timestamp.minute}} </small></dd>
		{% endfor %}</dl>
		{% else %}
		<p> <a href="/register"> Find your department. </a> </p> 
		 <br>
		{% endif %}
		</div>
{% endblock %}