{% extends "base.html" %}
{% block content %}
<div id ="body" class="span10">
	<h1>Hello, 
	{%if user.username %}
		{{user.username}}!</h1><br>
		Date: {{today.month}}/{{today.day}}/{{today.year}}
	{% else %}
		{{user.nickname}} </h1><br>
	{% endif %}
	
	{% if g.user.user_department != None %}
	<h2> Today's Department Activity </h2>
		<div class="content">
			There are {{count}} posts today.
		</div><br>
		{% for p in posts | reverse %}
		<div class="popover-title">
			<div id="content" class="span2">
				<img src="{{p.Author.avatar(75)}}"></div>
			<div>	
				<p style="font-size: 15px;"> {{p.Author.username}} ({{p.Author.subject}}) concerning {{p.Student.first_name}} {{p.Student.last_name}}</p> 
				<p>{{p.body}}</p>
				<br><br>
				<a href = "/add_comment/{{p.id}}" class = "btn"> Comment</a> <a href = "/approved_post/{{p.id}}" class = "btn approve"> Approve this post.</a></div>
		</div>
		<br>
		<br>
		{% endfor %}
	{% else %}
	<br><br><div class="span10"><a href="/register"> Please join a department.</a></div>
	{% endif %}
	
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(".approve").on("click", function(event){
			event.preventDefault();
			var link = $(event.target);
			var href = link.attr("href");
			console.log(href);
			$.ajax({
  				url: href
					}).done(function(result) {
						console.log(result);
						if (result == "already approved"){
							link.html("This is already approved.");
						}				
						else if (result == "approved"){
							link.html("Successfully approved!");
						}
					});
		});
			
	</script>
</div>

{% endblock %}
	


