<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<div class="span10">
<table>
	<tr vali class="content"gn="top">
		<td class="content"><img src="{{user.avatar(128)}}"></td class="content"> 
		<td class="content"><h1> {{user.username}}</h1></td class="content">
	</tr>
</table>	
	<h2>
	{% if date %}
	{{date.month}} / {{date.day}} / {{date.year}}</h2>
	{% else %}
	<h1> Welcome to Posts. </h1>
	{% endif %}
	<h2> Your posts: </h2>
	<div> 
	{% if user_posts %}
		<table class="table">
			<tr valign="top">
			{% for p in user_posts | reverse %}
				<td class="content">{{p.Student.first_name}} {{p.Student.last_name}}</td>	
				<td class="content">{{p.body}}</td>
				<td class="content">Posted on {{p.timestamp.month}}/{{p.timestamp.day}} 
					at {{p.timestamp.hour}}:{{p.timestamp.minute}}</td>	
			</tr>
			{% endfor %}
			</table>
	{% else %}
		<p> You haven't posted anything. </p>
	{% endif %}
	</div>
				<br>


{% endblock %}	 