{% extends "base.html" %}
{% block content %}
<div class="popover-title span10">
	<h2> Register with your department </h2> 
	<form action="/registration_saved" method="post" name="register">
		{{form.hidden_tag()}}
		<p>
			{{form.username}} Name on Make Room</p>
			{% for error in form.errors.username %}
			<span style="color: red;">[{{error}}]</span>
			{% endfor %}
		<p>
			{{form.subject}} What subject do you teach?</p>
			{% for error in form.errors.subject %}
			<span style="color: blue;">[{{error}}]</span>
			{% endfor %}
		<p>
			{{form.department_id}} Department Key</p>
			{% for error in form.errors.department_id %}
			<span style="color: blue;">[{{error}}]</span>
			{% endfor %} 
 		<p>
			<input type="submit" value="Sign In"></p>
	</form>
	<h3> Want to join a sample department? </h3>
	<p> Department Key: 6627554 </p>
</div>

 {% endblock %}