{% extends "base.html" %}
{% block content %}
<div class="span5 content">
	<h1>Student Profile</h1>
	Name:  {{student_firstname}} {{student_lastname}} <br><br>
	Student ID: {{student_id}} <br><br>						
	Birthday: {{student_birthday}} <br><br>
		<form action='/mod_saved' method="POST" name="new_post">
				{{form.hidden_tag()}}
				<table>
					<tr>
						<h4> Post a classroom modification about {{student_firstname}}. </h4>
					</tr>
					<tr>
						<td> Student ID </td>
						<td>{{form.student_id(size = 30, maxlength = 140)}} </td>
						<td> 
						{% for error in form.errors.post %}
						<span style = 'color: red;'>[{{error}}]</span><br>
						{% endfor %}
						</td>
					</tr>
						<tr>
						<td> Post </td>
						<td>{{form.post(size = 30, maxlength = 140)}} </td>
						<td> 
						{% for error in form.errors.post %}
						<span style = 'color: red;'>[{{error}}]</span><br>
						{% endfor %}
						</td>
					</tr>
						<tr>
						<td></td>
						<td><input type="submit" value="Send to department page"></td>
						<td></td>
					</tr>
				</table>
			</form>
		<form action='/goal_saved' method="POST" name="new_post">
				{{form.hidden_tag()}}
				<table>
					<tr>
						<h4> Post a learning goal for {{student_firstname}}. </h4>
					</tr>
					<tr>
						<td> Student ID </td>
						<td>{{form.student_id(size = 30, maxlength = 140)}} </td>
						<td> 
						{% for error in form.errors.post %}
						<span style = 'color: red;'>[{{error}}]</span><br>
						{% endfor %}
						</td>
					</tr>
						<tr>
						<td> Post </td>
						<td>{{form.post(size = 30, maxlength = 140)}} </td>
						<td> 
						{% for error in form.errors.post %}
						<span style = 'color: red;'>[{{error}}]</span><br>
						{% endfor %}
						</td>
					</tr>
						<tr>
						<td></td>
						<td><input type="submit" value="Send to department page"></td>
						<td></td>
					</tr>
				</table>
			</form>
		</div>
<div class="span5 content">
	<h1> Goals:</h1>
	{% for g in goals %}
			<p>{{g.body}}</p>
		
	{% endfor %}

<br>
	<h1> Classroom Modifications </h1>
		{% for m in mods %}
			<p>{{m.body}}</p>
		{% endfor %}
</div>
{% endblock %}

